<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Tell Buzz | Lenines</title>

    <!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
-->
</head>
<body id="top" class="scrollspy">

	<!-- Pre Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>

		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>

	</div>

	<div class="fixed-action-btn click-to-toggle">
		<a class="btn-floating btn-large blue">
		  <i class="material-icons">menu</i>
		</a>
		<ul>
		  <li><a class="btn-floating red"><i class="material-icons">perm_identity</i></a></li>
		  <li><a class="btn-floating yellow darken-1"><i class="material-icons">settings</i></a></li>
		  <li><a class="btn-floating green"><i class="material-icons">attach_file</i></a></li>
		  <li><a class="btn-floating blue"><i class="material-icons">question_answer</i></a></li>
		</ul>
	</div>	

	<!--Navigation-->
	 <div class="navbar-fixed">
		<nav id="nav_f" class="blue" role="navigation">
			<div class="nav-wrapper">
				<a href="#" id="logo-container" class="brand-logo">Tell Buzz</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="#login">Entrar</a></li>
						<li><a href="#"><i class="material-icons">search</i></a></li>
					</ul>
					<ul id="nav-mobile" class="side-nav">
						<li><a href="#login">Entrar</a></li>
						<li><a href="#!"><i class="material-icons">search</i></a></li>
					</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</nav>
	</div>
	
<div class="container">
	<div class="row">
		<div class="col s12 m6">
			<div class="card medium hoverable">
				<div class="card-image">
					<img src="http://imguol.com/c/home/77/2016/11/09/naftali-bennett-ministro-de-educacao-de-israel-1478689931421_142x100.jpg" expression="full" width="615" height="300" class="materialboxed">
					<span class="card-title">Card Title</span>
				</div>
				<div class="card-content">
				  <p>I am a very simple card. I am good at containing small bits of information.
				  I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
				  <a class="btn-floating btn-small waves-effect waves-light orange"><i class="material-icons">hearing</i></a>
				  <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">stars</i></a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card medium hoverable">
				<div class="card-image">
					<img src="http://imguol.com/c/home/47/2016/11/01/donald-trump-1478015142203_300x100.jpg" expression="full" width="615" height="300" class="materialboxed">
					<span class="card-title">Card Title</span>
				</div>
				<div class="card-content">
				  <p>I am a very simple card. I am good at containing small bits of information.
				  I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
				  <a class="btn-floating btn-small waves-effect waves-light orange"><i class="material-icons">hearing</i></a>
				  <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">stars</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card medium hoverable">
				<div class="card-image">
					<img src="http://imguol.com/c/home/77/2016/11/09/naftali-bennett-ministro-de-educacao-de-israel-1478689931421_142x100.jpg" expression="full" width="615" height="300" class="materialboxed">
					<span class="card-title">Card Title</span>
				</div>
				<div class="card-content">
				  <p>I am a very simple card. I am good at containing small bits of information.
				  I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
				  <a class="btn-floating btn-small waves-effect waves-light orange"><i class="material-icons">hearing</i></a>
				  <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">stars</i></a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card medium hoverable">
				<div class="card-image">
					<img src="http://imguol.com/c/home/47/2016/11/01/donald-trump-1478015142203_300x100.jpg" expression="full" width="615" height="300" class="materialboxed">
					<span class="card-title">Card Title</span>
				</div>
				<div class="card-content">
				  <p>I am a very simple card. I am good at containing small bits of information.
				  I am convenient because I require little markup to use effectively.</p>
				</div>
				<div class="card-action">
				  <a class="btn-floating btn-small waves-effect waves-light orange"><i class="material-icons">hearing</i></a>
				  <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">stars</i></a>
				</div>
			</div>
		</div>
	</div>
</div>

    <!--  Scripts-->
    <script   src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script>
		$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
	</script>
<!--
	<script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>
-->
	

    </body>
</html>
